* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box2 {
    width: 80%;
    height: 500px;
    /* border: 1px solid black; */
    margin: 2px auto;
    background-image: url(/assets/pexels-eberhardgross-1421903.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box2 div {
    /* border: 1px solid greenyellow; */
    width: 40%;
    /* margin: 200px auto; */
    text-align: center;
    height: auto;
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 30%;
    top: 30%;
}

.box2 div p {
    font-size: small;
}

.box2 div button {
    border: 1px solid white;
    background: none;
    padding: 5px;
    border-radius: 15px 15px 15px 15px;
    color: rgb(236, 231, 231);
}

.box2 div button:hover {
    background-color: aqua;
    color: black;

}


/* Assignment 3 */

.box3 {
    /* border: 1px solid rgb(19, 18, 18); */
    width: 60%;
    height: 500px;
    margin: 10px auto;
    background: linear-gradient(339deg, rgba(155, 34, 195, 0.82) 0%, rgba(253, 187, 45, 1) 100%);
    position: relative;
}

.box3 .whiteBox {
    /* border: 1px solid rgb(15, 15, 15); */
    width: 80%;
    position: absolute;
    left: 10%;
    top: 5%;
    height: 300px;
    position: relative;
    box-shadow: 2px 6px 5px rgb(26, 25, 25);
    background-color: rgb(250, 248, 245);

}

.whiteBox .text {
    /* border: 1px solid red; */
    width: 50%;
    height: 200px;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: auto;
}

.whiteBox .logoBar {
    /* border: 1px solid black; */
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.logoBar div {
    /* border: 1px solid red; */
    width: 40px;
    height: 100%;
    padding: 5px;
}

.text p {
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 0px 3px 2px red;
}

.text div {
    border: 2px solid rgb(240, 16, 16);
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 7px;
    left: 10px;
    border-radius: 10px 0px 10px 0px;
    z-index: 1;
}

.text button {
    border: none;
    padding: 5px;
    background-color: #fca000;
    border-radius: 10px 0px 10px 0px;
    margin: 2px;
    position: relative;
    z-index: 2;
}

.whiteBox .photo {
    /* border: 1px solid blue; */
    position: absolute;
    width: auto;
    height: auto;
    right: 50px;
    top: 40px;
}

.photo img {
    width: 270px;
    height: 432px;

}

/* Assignment 4 css */

.box4 {
    width: 60%;
    border: 1px solid black;
    margin: 10px auto;
    height: 400px;
    background-color: rgba(134, 206, 235, 0.068);
    position: relative;
}

.box4 .div0 {
    border: 1px solid black;
    width: 40%;
    height: auto;
    margin-top: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.box4 .div1 {
    border: 1px solid black;
    width: 40%;
    
    margin-top: 10px;
    position: absolute;
    top: 70px;
    right: 50px;
}

.div0 .dis {
    color: #0063a6;
    font-size: 70px;
    font-family: "Dancing Script";
}

.div0 .the {
    font-size: 3rem;
    margin: 0px;
}

.div0 button {
    margin-left: 20px;
    padding: 2px 10px;
    border-radius: 10px;
    border: none;
    background-color: #0063a6;
    color: white;
}

.box4 .photo {
    border: 1px solid purple;
    width: 10rem;
    height: auto;
    position: absolute;
    right: 120px;


}

.photo .Travel {
    width: 95%;
    height: 60%;
}

.div1 .blue {
    border: 5px solid rgb(238, 238, 243);
    box-shadow: 0px 0px 4px black;
    width: 90%;
    margin: 20px auto;
    height: 150px;
    background-color: #0063a6;
    border-radius: 10px;
    margin-bottom: 40px;
}

.div1 .divBoxL {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(204, 13, 13);
    display: flex;
    justify-content: space-evenly;
}

.div1 .divBoxL .blueBox {
    border: 2px solid rgb(249, 249, 252);
    box-shadow: 0px 0px 4px black;
    width: 25%;
    height: 80%;
    padding-left: 5px;
    background-color: #0063a6;
    border-radius: 5px;
    color: white;
    position: relative;
}

.div1 .divBoxL .blueBox p{
    font-size: 10px;
}

.blueBox .sym{
 /* border: 1px solid greenyellow; */
 width: 20px;
 height: 1px;
 position: absolute;
 top: 0px;
 right: 5px;
}
.sym i{
    width: 100%;
    height: 100%;
}

